@import '../../mixins/mixins.scss';

/*.imageCarousel {
    //outline: 1px solid red;
}*/

.imageCarousel__slider-wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.imageCarousel__slider-button {
    @include buttonNormalize;
    position: absolute;
    z-index: 99;
    width: 60px;
    height: 40px;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.imageCarousel__slider-button_type_left {
    top: 45%;
    left: -20px;
}

.imageCarousel__slider-button_type_right {
    top: 45%;
    right: -20px;
}

.imageCarousel__slider {
    width: 340px; // параметры должны быть такого же размера как и у фото
    height: 350px;
    overflow: hidden;
}

.imageCarousel__slider-line {
    height: 256px;
    width: 1024px;
    //background-color: red;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease .5s;

    img {
        width: 340px;
        height: 350px;

        object-fit: cover;
    }
}

.imageCarousel__mini-icons {

    display: flex;

    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.imageCarousel__mini-icon {
    width: 50px;
}

.imageCarousel__mini-icon_active {
    outline: 2px solid black;
}

@media (max-width: 400px) {
    .imageCarousel__slider-button_type_right {
        right: 0;
    }
    .imageCarousel__slider-button_type_left {
        left: 0;
    }
}