.basketItem{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 25% 25% 35%;
    column-gap: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    position: relative;

    p {
        margin: 0;
        padding: 0;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        word-break: break-word;
    }
}

.basketItem__delete-btn-container {
    width: fit-content;
    height: fit-content;

    position: absolute;
    top: 10px;
    right: 10px;
    transition: .3s;
    background-color: unset;
    outline: none;
    border: none;
    padding: 0;
}

.basketItem__delete-btn {
    width: 30px;
    height: 30px;
    transition: .3s;
}


.basketItem__image {
    border-radius: 10px;
    background-color: #c3c3c3;
    width: 80px;
    height: auto;
}

.basketItem__delete-btn:hover {
    opacity: .7;
}

.basketItem__info {
    margin-left: 10px;
}

.basketItem__title,
.basketItem__price {
    width: fit-content;
}


.basketItem__price {
    width: 100%;
    text-align: center;
}


@media (max-width: 1000px) {

    .basketItem{
        padding: 10px 10px;

        p {
            font-size: 30px;
        }
    }

    .basketItem__image {
        width: 60px;
    }

    .basketItem__delete-btn-container {
        top: 5px;
        right: 5px;
    }

    .basketItem__delete-btn {
        width: 22px;
        height: 22px;
    }

}


@media (max-width: 790px) {
    .basketItem{
        padding: 10px 5px;
    }
}

@media (max-width: 700px) {

    .basketItem{
        p {
            font-size: 40px;
            width: 100%;
        }
    }

    .basketItem__delete-btn {
        width: 28px;
        height: 28px;
    }

    .basketItem__image {
        width: 70px;
    }
}


@media (max-width: 600px) {
    .basketItem{
        p {
            font-size: 30px;
        }
    }

    .basketItem__delete-btn {
        width: 22px;
        height: 22px;
    }

    .basketItem__image {
        width: 60px;
    }
}

@media (max-width: 540px) {

    .basketItem{

        grid-template-columns: 15% 25% 25% 1fr;

        p {
            font-size: 25px;
        }
    }

    .basketItem__image {
        width: 50px;
        margin: auto;
    }

}



@media (max-width: 450px) {
    .basketItem{
        gap: 3px;
    }

    .basketItem__delete-btn-container {
        top: 0;
        right: 0;
    }

    .basketItem__delete-btn {
        width: 19px;
        height: 19px;
    }
}

@media (max-width: 350px) {
    .basketItem__image {
        width: 40px;
    }
}