.authInput-container {
    width: 80%;
    position: relative;
}

.authInput {
    outline: 1px solid black;
    margin: 0 auto;
    width: 100%;
    height: 30px;
    font-size: 32px;
    padding-left: 15px;
}