@import "../../mixins/mixins.scss";

.account {
    @include container;
    font-size: 60px;
    padding-top: 40px;
    text-align: center;
    outline: 1px solid black;
}

.account__title {
    margin: 20px 0 0;
    font-size: 70px;
    font-weight: 400;
}

.account__container {
    outline: 1px solid red;
    width: 100%;
    padding: 70px 20px 0;
    box-sizing: border-box;
}

.account__user-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.account__user-avatar {
    width: 100%;
    height: auto;
    min-height: 350px;
    background-color: #c0c0dc82;
    display: flex;
    justify-content: center;

    img {
        width: 90%;
        height: auto;
    }
}

.account__user-information-container {
    display: flex;
    align-items: start;
}

.account__user-information {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;

    p {
        margin: 0;
        font-size: 40px;
        text-align: left;
    }

    p:not(:first-child) {
        padding: 5px;
    }
}

.account__edit-button {
    background-color: black;
    color: white;
    border: none;
    padding: 0 10px;
    margin: 20px auto 0;
    width: 100%;
    height: 40px;
    font-size: 40px;
    text-align: center;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account__edit-button:hover {
    background-color: rgba(0, 0, 0, 0.616);
}

@media (max-width: 900px) {
    .account__user-avatar {
        min-height: 300px;
    }
}

@media (max-width: 768px) {

    .account__title {
        margin-top: 0;
    }

    .account__container {
        padding-top: 40px;
    }

    .account__user-information {
        margin-left: 25px;
        
        p {
            font-size: 30px;
        }
    }

    .account__edit-button {
        font-size: 30px;
        height: 30px;
    }
}

@media (max-width: 700px) {
    .account__user-avatar {
       height: 150px;
       width: 150px;
    }
}