@import "../../mixins/mixins.scss";

.account {
    background-color: rgba(237, 237, 237, 0.3843137255);
}

.account__container {
    outline: 1px solid black;
    display: grid;
    grid-template-columns: 39% 59%;
    @include container;
    padding: 20px 20px;
    gap: 2%;
    box-sizing: border-box;
}

// USERCARD

.account__user-card {
    outline: 1px solid red;
    min-height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.account__avatar-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    outline: 2px solid black;
    border-radius: 100%;
    margin: 30px auto 0;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}


// USERORDERS

.account__user-orders {
    outline: 1px solid black;
    width: 100%;
    min-height: 200px;
    
    border-radius: 5px;
    background-color: white;
}

