.orderItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.order-item {
    outline: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 5px;

    p {
        font-size: 30px;
        margin: 0;
    }
}