@import '@mixins';

.itemCard {
    //outline: 1px solid red;
    background-color: rgba(237, 237, 237, 0.3843137255);
    padding-bottom: 5px;
    position: relative;
}

.itemCard__empty {
    font-size: 60px;
    margin: 150px 0;
    text-align: center
}


.itemCard__card-container {
    padding: 0 54px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}

.iInfo {
    grid-area: 2 /2 span;
}

@media (max-width: 800px) {
    .itemCard__card-container {
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .iMenu {
        grid-area: 2 / 2 span;
    }

    .iInfo {
        grid-area: 3 / 3 span;
    }
}

@media (max-width: 500px) {
    .itemCard__navigation {
        font-size: 30px;
    }

    .itemCard__card-container {
        padding: 0;
    }
}


