@import '@mixins';

.mainShop {
    @include container;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 30px;
    background-color: #ededed62;
    position: relative;
}

@media (max-width: 768px) {
    .mainShop {
        display: block;
    }
}