.basketNotification {
    position: sticky;
    height: fit-content;
    top: 3%;
    text-decoration: none;
    z-index: 1;
    transition: .3s;
    display: none;
    color: black;
}

.basketNotification__image {
    width: auto;
    height: auto;
}

.basketNotification_active {
    display: block;
}

.basketNotification:hover {
    opacity: .6;
}

.basketNotification {
    p {
        margin: 0;
        outline: 2px solid black;
        width: fit-content;
        border-radius: 30px;
        font-size: 45px;
        width: 30px;
        height: 30px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

@media (max-width: 800px) {
    .basketNotification__image {
        width: 70px;
        height: auto;
    }

    .basketNotification p {
        width: 20px;
        height: 20px;
    }
}

