@import '../../mixins/mixins.scss';

.itemCard {
    @include container;
    //outline: 1px solid red;
    background-color: rgba(237, 237, 237, 0.3843137255);
}

.itemCard__navigation {
    @include buttonNormalize;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    //outline: 1px solid red;
}

.itemCard__navigation-image {
    width: 52px;
    height: 14px;
    padding-right: 20px;
}

.itemCard__card-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 54px;
    margin-left: 5%;
}

.itemCard__item-description {
    @include pNormalize;
    width: 40%;
    margin: 100px auto;
    font-size: 30px;
    text-align: center;


    p {
        @include pNormalize;
    }

    p:not(:first-child) {
        margin-top: 10px;
    }
}

@media (max-width: 800px) {
    .itemCard__card-container {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    .itemCard__item-description {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .itemCard__item-description {
        width: 85%;

        
    }

    .itemCard__navigation {
        font-size: 30px;
    }
}