@import '../../../mixins/mixins.scss';

.itemCard {
    @include container;
    //outline: 1px solid red;
    background-color: rgba(237, 237, 237, 0.3843137255);
    padding-bottom: 5px;
    position: relative;
}

.itemCard__navigation {
    @include buttonNormalize;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    //outline: 1px solid red;
}

.itemCard__navigation-image {
    width: 52px;
    height: 14px;
    padding-right: 20px;
}

.itemCard__card-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 54px;
    margin-left: 5%;
}

.itemCard__item-description {
    @include pNormalize;
    width: 40%;
    margin: 100px auto;
    font-size: 30px;
    text-align: center;


    p {
        @include pNormalize;
        height: auto;
        word-wrap: break-word;
    }

    h3 {
        @include pNormalize;
        height: auto;
        word-wrap: break-word;
        font-weight: 600;
        margin-top: 20px;
    }

}

@media (max-width: 800px) {
    .itemCard__card-container {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    .itemCard__item-description {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .itemCard__item-description {
        width: 85%;

        
    }

    .itemCard__navigation {
        font-size: 30px;
    }
}


///
/// 
.itemCard__sticky-notification-container {
    position: absolute;
    top: 30px;
    right: -50px;
    width: fit-content;
    height: 100vh;
}

@media (max-width: 1400px) {
    .itemCard__sticky-notification-container {
        right: 20px;
    }
}

@media (max-width: 900px) {
    .itemCard__sticky-notification-container {
        height: 40vh;
    }
}

@media (max-width: 800px) {
    .itemCard__sticky-notification-container {
        height: 100vh;
    }
}

@media (max-width: 600px) {
    .itemCard__sticky-notification-container {
        height: 75vh;
    }
}

@media (max-width: 550px) {
    .itemCard__sticky-notification-container {
        right: 20px;
        top: 15px;
        height: 28vh;
    }
}

@media (max-width: 400px) {
    .itemCard__sticky-notification-container {
        height: 63vh;
    }
}