.notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}


.notification__popup {
    max-width: 60%;
    width: fit-content;
    height: fit-content;
    min-height: 250px;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    p {
        margin: 0;
    }
}

button {
    background-color: unset;
    border: none;
    padding: 0;
}

.notification__close-btn {
    width: 20px;
    height: 20px;
    background-color: unset;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
}

.notification__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    button {
        width: 45%;
        padding: 0;
        margin: 0;
        height: 40px;
        font-size: 30px;
        background-color: white;
        outline: 1px solid black;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

@media (max-width: 700px) {
    .notification__buttons {
        flex-direction: column;
        gap: 10px;

        button {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .notification__popup {
        max-width: 85%;
    }
}