
@import "@mixins";

/// AVATAR

.avatar-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    outline: 2px solid black;
    border-radius: 100%;
    margin: 30px auto 0;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

// DATA 

.userdata {
    background-color: white;
    height: fit-content;
}

.userdata__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    padding: 30px 0;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #6f6f6f;   
}

.data__name, .data__content {
    @include pNormalize;
    width: fit-content;
    
}

.data__content {
    text-align: end;
    border: 0;
    height: fit-content;
    width: 80%;
}

.data__content:focus {
    border: none;
    outline: none;
}

.data__content:disabled {
    background-color: unset;

}


.userdata__buttons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
        width: 100%;
        background-color: unset;
        padding: 0;
        margin: 0;
        border: 1px solid black;
    }

}

.userdata__exit {
    margin: 0 auto;
    width: 80%;
    background-color: unset;
}

@media (max-width: 900px) {

    .userdata {
        padding-bottom: 50px;
    }

    .userdata__buttons {
        margin: 30px auto 0;
}
}

@media (max-width: 500px) {

    .userdata {
        padding-bottom: 35px;
    }
}