@import "@mixins";

.userdata__buttons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 900px) {
    .userdata__buttons {
        margin: 30px auto 0;
    }
}

@media (max-width: 450px) {
    .userdata__buttons {
        flex-direction: column;
    }
}