
@import "@mixins";


// DATA 


.userdata__buttons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}


@media (max-width: 900px) {

    .userdata {
        padding-bottom: 50px;
    }

    .userdata__buttons {
        margin: 30px auto 0;
}
}

@media (max-width: 500px) {

    .userdata {
        padding-bottom: 35px;
    }
}