@import '@mixins';

.basket {
    @include container;
    background-color: #f9f9f9;
    padding-bottom: 100px;
}

.basket__title {
    font-size: 70px;
    font-weight: 400;
    margin: 20px auto 0;
    text-align: center;
}

.basket__container {
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    margin-top: 40px;
    padding: 0 30px;
}

.basket__no-items {
    font-size: 50px;
    text-align: center;
    margin: 10%;
    height: 100%;
}

@media (max-width: 790px) {
    .basket__title {
        font-size: 60px;
    }

    .basket__image {
        right: -70px;
    }

}

@media (max-width: 700px) {
    .basket__container {
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .basket__title {
        margin-top: 20px;
    }

    .basket__image {
        bottom: -50px;
        right: -30px;
    }

}

@media (max-width: 540px) {
    .basket__container {
        padding: 0 15px;
        margin-top: 20px;
    }

    .basket__title {
        margin-top: 20px;
    }

}