@import "@mixins";

.header {
    height: 80px;
    width: 100%;
}

.header__container {
    @include container;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.header__logo-link {
    width: 83px;
    height: 59px;
    margin: auto auto auto 2%;

    img {
        width: 100%;
        height: 100%;
    }
}

.header__navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    li {
        font-size: 36px;
        transition: .3s;

        &:not(:last-child) {
            margin-right: 40px;
        }
    
        &:last-child {
            margin-right: 25px;
        }
    
        &:hover {
            opacity: .6;
        }
    }

    a {
        text-decoration: none;
        color: black;
        height: 100%;
    }
}

@media (max-width: 768px) {

    .header__navigation {
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -150%;
        justify-content: center;
        margin: 0;
        transition: right 1s;
        background-color: rgb(208, 208, 255);
        width: 60%;
        justify-content: flex-start;
        z-index: 2;

        li:not(:last-child),
        li:last-child {
            margin: 10px 0 0 0;
            font-size: 40px;
        }

        li:first-child {
            margin-top: 30%;
        }

        a {
            color: white;
        }
    }

    .header__navigation_active {
        right: 0;
    }

}

@media (max-width: 500px) {
    
    .header__navigation {
        width: 100%;

        li:first-child {
            margin-top: 45%;
        }

        li:not(:last-child),
        li:last-child {
            font-size: 50px;
        }
    }
}

@media (max-width: 400px) {
    
    .header__navigation {

        li:not(:last-child),
        li:last-child {
            font-size: 40px;
        }
    }
}

/////
/// 
/// 
/// 


.header__navigation {
    li:first-child {
        a {
        color: #f96881;
        }
    }

    li:nth-child(2) {
        a {
            color: #85f968;
        }
    }

    li:nth-child(3) {
        a {
            color: #68f9ef;
        }
    }

    li:nth-child(4) {
        a {
            color: #f9b368;
        }
    }
}