@import '@mixins';

.itemCard__empty {
    font-size: 60px;
    margin: 150px 0;
    text-align: center
}

.itemCard__navigation {
    @include buttonNormalize;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    //outline: 1px solid red;
}

.itemCard__navigation-image {
    width: 52px;
    height: 14px;
    padding-right: 20px;
}




@media (max-width: 500px) {
    .itemCard__navigation {
        font-size: 30px;
    }
}

