@import '@mixins';

.itemCard__navigation {
    @include buttonNormalize;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.itemCard__navigation-image {
    width: 52px;
    height: 14px;
    padding-right: 20px;
}

@media (max-width: 500px) {
    .itemCard__navigation {
        font-size: 30px;
    }
}
