@import '../../mixins/mixins.scss';

.header {
    height: 80px;
    width: 100%;
    outline: 1px solid black;
}

.header__container {
    @include container;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.header__logo-link {
    width: fit-content;
    height: fit-content;
    margin: auto auto auto 2%;
}

.header__logo-image {
    width: 83px;
    height: 59px;
}

.header__navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.header__navigation-item {
    font-size: 36px;
    transition: .3s;
}

.header__navigation-item:not(:last-child) {
    margin-right: 40px;
}

.header__navigation-item:last-child {
    margin-right: 25px;
}

.header__navigation-item:hover {
    opacity: .6;
}

.header__navigation-link {
    text-decoration: none;
    color: black;
}

// burger//

.header__burger-button {
    @include buttonNormalize;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
    z-index: 2;
}

.header__burger-image {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {

    .header__navigation-item:not(:last-child), 
    .header__navigation-item:last-child {
        margin: 10px 0 0 0;
        font-size: 40px;
    }

    .header__navigation-item:first-child {
        margin-top: 30%;
    }

    .header__burger-button {
        display: block;
    }

    .header__navigation {
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -150%;
        justify-content: center;
        margin: 0;
        transition: right 1s;
        background-color: rgb(208, 208, 255);
        width: 60%;
        justify-content: flex-start;

        a {
            color: white;
        }
    }

    .header__navigation_active {
        right: 0;
    }

}

@media (max-width: 500px) {
    .header__navigation {
        width: 100%;
    }

    .header__navigation-item:first-child {
        margin-top: 45%;
    }

    .header__navigation-item:not(:last-child), 
    .header__navigation-item:last-child {
        font-size: 50px;
    }
}