@import '../mixins/mixins.scss';    

html {
    cursor: url('../images/lapka.png'), default;
}

.App {
    font-family: 'Zamyatysh-en', 'Zamyatysh-ru', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    a:hover, button:hover {
        cursor: url('../images/lapka.png'), default;
    }
}