@import '../../../mixins/mixins.scss';

.desktopMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    word-break: break-word;
    padding-right: 15px;
    box-sizing: border-box;
}

.filters__invisible {
    display: none;
    visibility: hidden;
}

.filters__button_active {
    font-weight: 600;
}

.filters__button {
    @include buttonNormalize;
    text-align: start;
    font-size: 34px;
    width: fit-content;
    transition: .3s;


    &:not(:first-child) {
        margin-top: 30px;
    }

    &:hover {
        opacity: .5;
    }
}

@media (max-width: 900px) {
    .filters__button {
        font-size: 30px;
    }
}

@media (max-width: 768px) {

    .filters__button {
        display: none;
    }

}