@import '@mixins';

.itemMenu {
    margin-left: 15%;
    margin-top: -28px;
}

.itemMenu__title {
    @include pNormalize;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    word-break: break-all;
    padding: 0 116px 0 0;
}

.itemMenu__price {
    @include pNormalize;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}

.itemMenu__about-link {
    font-size: 30px;
    text-decoration: underline;
}


.itemMenu__size-guide {
    @include pNormalize;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    margin-top: 7px;
}

.itemMenu__basket-container {
    width: fit-content;
    height: fit-content;
    position: relative;

}

.itemMenu__basket-image {
    position: absolute;
    z-index: -1;
    top: 17px;
    left: 30px;
    bottom: 0;
    right: 0;
    transition: .3s;
}

.itemMenu__caption {
    font-size: 30px;
    margin: 0;
    color: rgb(234, 69, 69);
}

.itemMenu__basket-image_active {
    top: -20px;
}

.itemMenu__add-button {
    @include buttonNormalize;
    margin-top: 44px;
    border: 2px solid rgba(195, 195, 195, 1);
    width: 256px;
    height: 66px;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 150%;
    border-radius: 6px;
    background-color: white;
}

@media (max-width: 920px) {
    .itemMenu__price {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    
    .itemMenu__title {
        padding: 0;
    }

    .itemMenu {
        margin: 30px auto;
        text-align: center;
    }

    .itemMenu__basket-container {
        margin: 0 auto;
    }
}
