@import '@mixins';

.itemMenu {
    margin-left: 15%;
    margin-top: -28px;
}

.itemMenu__title {
    @include pNormalize;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    word-break: break-all;
    padding: 0 116px 0 0;
}

.itemMenu__price {
    @include pNormalize;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}

.itemMenu__about-link {
    font-size: 30px;
    text-decoration: underline;
}


.itemMenu__size-guide {
    @include pNormalize;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    margin-top: 7px;
}

@media (max-width: 920px) {
    .itemMenu__price {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    
    .itemMenu__title {
        padding: 0;
    }

    .itemMenu {
        margin: 30px auto;
        text-align: center;
    }
}
