@import "../../mixins/mixins.scss";

.basket {
    @include container;

    background-color: #f9f9f9;
    padding-bottom: 100px;
}

.basket__title {
    font-size: 70px;
    font-weight: 400;
    margin: 20px auto 0;
    text-align: center;
}


.basket__container {
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    margin-top: 40px;
    padding: 0 30px;
}

.basket__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket__column-left {
    position: relative;
}

.basket__items {
    box-sizing: border-box;
    width: 100%;
    min-height: 112px;
    height: auto;
}

.basket__item {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 25% 25% 35%;
    column-gap: 5px;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;

    p {
        margin: 0;
        padding: 0;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        word-break: break-word;
    }
}

.basket__item-image {
    border-radius: 10px;
    background-color: #c3c3c3;
    width: 80px;
    height: 64px;
    outline: 1px solid black;
}

.basket__item-info {
    margin-left: 10px;
}


.basket__image {
    position: absolute;
    right: -50px;
    bottom: 0;
}

/// right column
///
///

.basket__column-right {
    background-color: white;
    padding-bottom: 10px;
     border-radius: 10px;
    height: fit-content;
}

.basket__notification {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    padding: 0 20px 30px;
}

.basket__notification-text {
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 40px;
}

.basket__register-button {
    width: 100%;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: black;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 40px;
    transition: .3s;
}

.basket__register-button:hover {
    background-color: rgb(55, 52, 52);
}

.basket__caption {
    margin: 10px 0 0 0;
    font-size: 25px;
    color: #7cca92;

    a {
        color: inherit;
        font-size: 35px;
    }
}

.basket__price-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: flex-start;
    align-items: flex-start;

    p {
     margin: 0;
        padding: 0;
        font-size: 40px;   
    }
}

.basket__item-title, .basket__item-price {
    width: fit-content;
}

.basket__item-price {
    width: 100%;
    text-align: center;
    
}

.basket__submit-button {
    width: 100%;
    background-color: unset;
    border: 2px solid #00000094;
    padding: 0;
    margin-top: 15px;
    height: 55px;
    border-radius: 10px;
    font-size: 40px;
}

.basket__submit-button:hover {
    background-color: rgba(0, 0, 0, 0.052);
}


@media (max-width: 1000px) {    
    .basket__item {
        p {
            font-size: 30px;
        }
    }

    .basket__item-image {
        width: 60px;
    height: 44px;
    }

    .basket__notification-text {
        font-size: 30px;
    }

    .basket__register-button, .basket__submit-button {
        font-size: 30px;
        height: 45px;
    }

    .basket__caption {
        text-align: center;

        a {
            font-size: 25px;
        }
    }

    .basket__price-container p {
        font-size: 30px;
    }

    
}

@media (max-width: 790px) {

    .basket__title {
        font-size: 60px;
    }

    .basket__image {
        right: -70px;
    }

    .basket__item-image {
        width: 50px;
    height: 34px;
    }

}

@media (max-width: 700px) {
    .basket__container {
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .basket__title {
        margin-top: 40px;
    }

    .basket__image {
        bottom: -50px;
        right: -30px;
    }

    .basket__column-right {
        margin-top: 50px;
        padding-bottom: 0;
    }

    .basket__item {    
        p {
            font-size: 40px;
            width: 100%;
        }
    }

    .basket__item-image {
        width: 70px;
        height: 54px;
    }

    .basket__notification-text {
        text-align: center;
        padding-top: 20px
    }

    .basket__price-container {
        padding: 40px;
        text-align: center;

        p {
            width: 100%;
        }
    }

    .basket__register-button, .basket__submit-button  {
        height: 45px;
    }

    .basket__notification-text {
        font-size: 35px;
    }
    
    .basket__price-container p {
        font-size: 35px;
    }

    .basket__caption {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .basket__item {
        p {
            font-size: 30px;
        }
    }

    .basket__item-image {
        width: 60px;
    height: 44px;
    }

    .basket__notification-text {
        font-size: 30px;
    }

    .basket__register-button, .basket__submit-button {
        font-size: 30px;
        height: 45px;
    }

    .basket__caption {

        a {
            font-size: 25px;
        }
    }

    .basket__price-container p {
        font-size: 30px;
    }
}



@media (max-width: 540px) {

    .basket__container {
        padding: 0 15px;
    }

    .basket__item {
        p {
            font-size: 25px;
        }
    }

    .basket__item-image {
        width: 50px;
    height: 34px;
    margin: auto;
    }

    .basket__notification-text {
        font-size: 25px;
    }

    .basket__register-button, .basket__submit-button {
        font-size: 25px;
        height: 35px;
    }

    .basket__caption {

        a {
            font-size: 25px;
        }
    }

    .basket__price-container p {
        font-size: 25px;
    }

    @media (max-width: 470px) {

    }

    @media (max-width: 450px) {

        .basket__item {
            padding: 0 10px;
        }
    }

    @media (max-width: 360px) {

        .basket__item-image {
            width: 40px;
            height: 24px;
        }
    }

    
    
}