@import '../../mixins/mixins.scss';

.filters {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.filters__invisible {
    display: none;
    visibility: hidden;
}

.filters__buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    word-break: break-word;
    padding-right: 15px;
    box-sizing: border-box;
}

.filters__button_active {
    font-weight: 600;
}

.filters__button {
    @include buttonNormalize;
    text-align: start;
    font-size: 34px;
    width: fit-content;
    transition: .3s;


    &:not(:first-child) {
        margin-top: 30px;
    }

    &:hover {
        opacity: .5;
    }
}


.filters__dropdown {
    visibility: hidden;
}

@media (max-width: 900px) {
    .filters__button {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .filters__buttons {
        width: 100%;
        margin: 20px 20px 20px;
        font-size: 40px;
    }

    .filters__button {
        display: none;
    }

    // dropdown menu


    .filters__dropdown {
        position: relative;
        display: inline-block;
        visibility: visible;
    }

    .filters__dropdown-menu {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 100%;
        transition: all .3s ease-out;
        width: 100%;
        text-align: center;
    }

    .filters__dropdown-menu_show {
        z-index: 1;
        visibility: visible;
        opacity: 1;
        top: calc(100% + 10px)
    }

    .filters__dropdown-filter {
        display: block;
        color: black;
        @include buttonNormalize;
        width: 100%;
    }

    .filters__dropdown-filter:hover {
        opacity: .6;
    }

    .filters__dropdown-toggle {
        width: 100%;
        background-color: unset;
        padding: 0;
        margin: 0;
        text-align: center;
        border: 0;
        border-bottom: 1px solid black;
    }

    .filters__dropdown-image {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 33%;
        right: 0;
        transition: all .4s ease-out;
    }

    .filters__dropdown-image_up {
        rotate: 180deg;
    }
}