@import '../../mixins/mixins.scss';

.welcome {
    background-color: white;
}

.welcome__container {
    @include container;
    overflow: hidden;
}

.welcome__languages {
    //outline: 1px solid blue;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.welcome__language {
    @include buttonNormalize;
    width: fit-content;
    height: fit-content; 
    //outline: 1px solid black;
    margin-right: 30px;
    position: relative;
    z-index: 1;
}

.welcome__language_active {
    border-bottom: 1px solid black;
}

.welcome__language:hover {
    opacity: .6;
}

.welcome__language-text {
    @include pNormalize;
    margin: 0;
    position: relative;
    font-size: 35px;
}

.welcome__buttons {
    //outline: 1px solid blue;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}

.welcome__button {
    @include buttonNormalize;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 12px;
    position: relative;
    z-index: 1;
}

.welcome__button:hover {
    opacity: .7;
}

.welcome__button:not(:last-child) {
    margin-right: 100px;
}

.welcome__button-text {
    @include pNormalize;
    font-size: 35px;
}

@media (max-width: 620px) {
    .welcome__button:not(:last-child) {
        margin-right: 50px;
    }
}

@media (max-width: 620px) {

    .welcome__buttons {
        flex-direction: column;
        align-items: center;
    }

    .welcome__button:not(:last-child) {
        margin-right: 0;
        margin-bottom: 50px;
    }
}

/*

.welcome__gif {
    position: absolute;
    bottom: 440px;
    right: 300px;
    left: 0;
    width: 190px;
    height: 20%;
    margin: 0 auto;
    z-index: 0;
    //outline: 1px solid red;
}


@media (max-width: 1120px) {
    .welcome__gif {
        width: fit-content;
    }
}*/