@import '@mixins';

.mainShop {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 30px 0 50px;
    position: relative;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .mainShop {
        display: block;
    }
}