.itemList {
    outline: 1px solid blue;
}

.itemList__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    padding-right: 20px;
}


@media (max-width: 1000px) {
    .itemList__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .itemList__container {
        padding-left: 20px;
    }
}