.clear-button {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 30px 0 0 0;
    width: fit-content;
    max-width: 90%;
    height: auto;
    font-size: 34px;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    word-break: break-word;
    transition: .3s;
}

.clear-button:hover {
    opacity: .8;
}

.clear-button_active {
    display: flex;
}

@media (max-width: 900px) {
    .clear-button {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .clear-button {
        width: 100%;
        max-width: 100%;
        margin: 0 0 20px 0;
    }
}