<<<<<<< HEAD
@import '../../../mixins/mixins.scss';

.welcome__languages {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
=======
@import '@mixins';
>>>>>>> 3a9b40575fffb8c3ebef623232a2e64081b54388

.welcome__language {
    @include buttonNormalize;
    width: fit-content;
    height: fit-content; 
<<<<<<< HEAD
    margin-right: 30px;
=======
    margin-right: 20px;
>>>>>>> 3a9b40575fffb8c3ebef623232a2e64081b54388
    position: relative;
    z-index: 1;
}

.welcome__language_active {
    border-bottom: 1px solid black;
}

.welcome__language:hover {
    opacity: .6;
}


.welcome__language-text {
    @include pNormalize;
    margin: 0;
    position: relative;
    font-size: 35px;
}